<mat-form-field class="example-full-width">
  <mat-label>Nome do Cliente</mat-label>
  <input type="text" matInput placeholder="ex : Marcia" [(ngModel)]="name" (keyup)="getCustomerByName()" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="customerName">
    <mat-option *ngFor="let customer of customers" [value]="customer">
      {{customer.first_name! + " " +customer.last_name!}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button mat-raised-button color="primary" (click)="newRental()" >Proximo</button>