<div class="confirmationRentalCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title [(ngModel)]="customerName">{{customerName}}</mat-card-title><mat-card-subtitle [(ngModel)]="filmTitle">{{filmTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <strong>Situação: {{situacao}}</strong>
      <br >
      <br>
      <strong class="dataStrong">Data do aluguel: {{rental_date | date: 'dd/MM/yyyy'}}</strong>
      <strong class="dataStrong">Data prevista para devolução: {{forecast_date | date: 'dd/MM/yyyy'}}</strong> 
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="button">Gerar Relatorio</button>
        <button mat-raised-button color="accent" class="button">fechar</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
