.confirmationRentalCard{
  width: 700px;
  padding-left: 300px;
  padding-top: 180px;
}

.mat-mdc-card {
  width: 800px;
}

.dataStrong{
  padding-right: 70px;
}

.button{
  margin-right: 200px;
  padding-right: 100px;
}