<div class="confirmationRentalCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Rental.Customer.allCustomerName</mat-card-title><mat-card-subtitle>Rental.Inventory.filmTitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      RENTAL.SITUACAO
      Rental_date   Forecast_date
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Gerar Relatorio</button>
      <button mat-button>fechar</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
