/* You can add global styles to this file, and also import other style files */
.mat-mdc-snack-bar-container.LocadoraException {
    --mdc-snackbar-container-color: #fd0015e0;
    --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
    --mat-snack-bar-button-color: black;

}
.mat-mdc-snack-bar-container.Exception{
    --mdc-snackbar-container-color: #ec770a;
    --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
    --mat-snack-bar-button-color: black;
}

.mat-mdc-snack-bar-container.Sucess{
    --mdc-snackbar-container-color: #06c432;
    --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
    --mat-snack-bar-button-color: black;
}

// .mat-mdc-snack-bar-container {
//     --mdc-snackbar-container-color: #eb1a1a;
//     --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
//     --mat-snack-bar-button-color: #26c6da;
// }