<mat-form-field class="example-full-width">
  <mat-label>Categoria</mat-label>
  <mat-select [(ngModel)]="categoryId">
    <mat-option > -- </mat-option>
    <mat-option *ngFor="let category of categorys" [value]="category.category_id" >
      {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Idiomas</mat-label>
  <mat-select [(ngModel)]="languageId">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let language of languages" [value]="language.language_id" >
      {{language.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Filme</mat-label>
  <input type="text" matInput placeholder="titulo do filme" [matAutocomplete]="auto" (keyup)="GetFilmCategoryList($event)">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="filmName">
    <mat-option *ngFor="let film of film_category" [value]="film" (click)="selecionar(film)">
      {{film.filmTitle}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field>
  <mat-label >Intervalo de aluguel do titulo</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" [(ngModel)]="RentalDate" disabled="true">
    <input matEndDate placeholder="End date" [(ngModel)]="ForecastDate">
  </mat-date-range-input>
  <mat-hint>Data do aluguel – Data prevista para devolução</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button mat-raised-button color="primary" (click)="voltar()" class="button"> voltar </button> <button mat-raised-button color="primary" class="button" (click)="addRental()">novo aluguel</button>

